# All mail for UIDs < 1000 will be sent to this address 
# There must be an alias in revaliases for this address
root=ssmtproot

# When SSMTP connects to the remote server, it'll say the mail came from this domain
# For example: if you're trying to forward to an @gmail.com address, this must be set to gmail.com
rewritedomain={{ ssmtp_rewritedomain }}

# The remote mailserver, like smtp.gmail.com:465
# Note: MX lookups are NOT performed; this has to be the mailserver, not a top level domain name with an MX record
mailhub={{ ssmtp_mailhub }}

# TLS stuff (case insensitive / should be "yes" or "no")
usetls={{ ssmtp_usetls }}
usestarttls={{ ssmtp_usestarttls }}
authmethod=PLAIN

# Credentials to connect to the mailserver
authuser={{ ssmtp_authuser }}
authpass={{ ssmtp_authpass }}

