[minipki]
keysize = 4096 
ca_valid_days = 7300
server_valid_days = 7300
ca_common_name = younix openvpn 20150729 certificate authority
orgname = minipki
orgemail = mrled@younix.us
country = US
dhbits = 1024
debug = no

vpnserver = vpn.younix.us
vpnport = 1194
vpnprotocol = udp

# the client subnet is the VPN subnet for all VPN clients
vpnclientsubnet = 192.168.252.0
