<VirtualHost *:80>

    ServerName {{ webapp_hostname }}
    ServerAdmin {{ webapp_serveradmin_email }}
    DocumentRoot {{ webapps_document_root }}

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <Directory {{ webapps_live_dir }}>
        Options +ExecCGI 
        Require all granted
    </Directory>

    WSGIScriptAlias /test {{ webapps_live_dir }}/test/test.wsgi
    WSGIScriptAlias /testcp {{ webapps_live_dir }}/test/testcp.wsgi
    WSGIScriptAlias /biblemunger {{ webapps_live_dir }}/biblemunger/bmweb.wsgi

</VirtualHost>
