<html>
<head>
  <title>{{ webapp_hostname }}</title>
</head>
<body>
<h1>{{ webapp_hostname }}</h1>
<p>Hello, you've reached the landing page for {{ webapp_hostname }} - {{ webapp_landing_desc }}. You probably meant to end up at <a href="http://micahrl.com">http://micahrl.com</a>, or perhaps to one of my toys directly:</p>
<ul>
  <li><a href="./biblemunger/">BibleMunger</a></li>
</ul>
</body>
