packages: [
  "advanced-open-file"
  "atom-beautify"
  "atom-material-syntax-dark"
  "atom-material-ui"
  "atom-typescript"
  "atomic-emacs"
  "busy-signal"
  "clipboard-plus"
  "colorful-json"
  "disable-keybindings"
  "emacs-plus"
  "highlight-line"
  "highlight-selected"
  "Hydrogen"
  "intentions"
  "language-docker"
  "language-kotlin"
  "language-powershell"
  "linter"
  "linter-jshint"
  "linter-tslint"
  "linter-ui-default"
  "minimap"
  "minimap-highlight-selected"
  "package-sync"
  "sort-lines"
  "todo-show"
]
