proto udp
port 1194
dev tun1194
iproute /etc/openvpn/sudo-ip.sh
status openvpn-status.log
verb 3
keepalive 10 60
persist-key
persist-tun
duplicate-cn
comp-lzo
key-direction 0

user {{ openvpn_user }}
group {{ openvpn_group }}

server {{ openvpn_private_addr | ipaddr('network') }} {{ openvpn_private_addr | ipaddr('broadcast') }}

#push "redirect-gateway def1"
push "remote-gateway {{ openvpn_private_addr | ipaddr('address') }}"
push "dhcp-option DNS {{ openvpn_dns_a }}"
push "dhcp-option DNS {{ openvpn_dns_b }}"

# Apparently this won't work with duplicate-cn
#ifconfig-pool-persist ipp.txt

<key>
{{ openvpn_server_key }}
</key>
<cert>
{{ openvpn_server_cert }}
</cert>
<ca>
{{ openvpn_ca_cert }}
</ca>
<dh>
{{ openvpn_dh_param }}
</dh>
<tls-auth>
{{ openvpn_tlsauth_key }}
</tls-auth>

