# This is Git's per-user configuration file.
[user]
	name = Micah R Ledbetter
	email = me@micahrl.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
[core]
	pager = delta
	excludesFile = ~/.config/dhd/gitignore
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	paging = always
	tabs = 4
[merge]
	conflictStyle = zdiff3
[include]
	path = ~/.local/share/dhd/gitconfig
