HashKnownHosts no

# from the manual: 
# "Since the first obtained value for each parameter is used, more host-spe-
#  cific declarations should be given near the beginning of the file, and
#  general defaults at the end."

Host pfsense
     Host neuric.selfip.net
     User root
Host alpha
     User mledbetter
Host younix.us
     User mrled
Host selene
     Hostname h.younix.us
     User mrled
Host antimony
     Hostname h.younix.us
     Port 2022
     User root
Host vlack.com 
     User mledbetter
Host vmars
     Hostname vmars.younix.us
     Port 1022
     User root
Host kalix
     User root
Host thrix
     User sansforensics
Host gitosis
     User gitosis
     Hostname h.younix.us
Host tika
     User mrled
     Hostname tika.younix.us


# Let myself connect back in from a remote host
# (from <http://ask.metafilter.com/92964/Is-there-a-quick-way-of-copying-files-up-an-SSH-connection>)

#RemoteForward 2219 localhost:22

# Now put the following in .ssh/config of all remote machines:
#Host nloca (notlocalhost)
#    User mrled
#    HostName localhost
#    Port 2219
