# server openssl configuration file
HOME                    = .
RANDFILE                = $HOME/.rnd

[ req ]
default_bits            = 4096
default_md              = sha1
prompt                  = no
string_mask             = nombstr

distinguished_name      = req_distinguished_name

x509_extensions         = v3_req
req_extensions          = v3_req

[ req_distinguished_name ]
countryName = US
stateOrProvinceName = .
localityName = .
organizationName = .

commonName = micah

emailAddress = mrled@younix.us

[ v3_req ]
nsCertType = client
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment



