# Younix OpenVPN hardening system. See {{ openvpn_hardened_readme_path }}

# We do not redirect-gateway in the hardened config because the hardened scripts handle it for us

{{ openvpn_base_config }}

setenv OPENVPN_ROUTE_TABLE {{ openvpn_hardened_route_table }}
route-noexec
route-up {{ openvpn_hardened_route_script_path }}
route 0.0.0.0 0.0.0.0
